.content-qrcode{
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}   

.nav-bar-qrcode{
    height: 10vh;
    width: 100%;
    background-color: rgb(0 71 133);
    background-image: linear-gradient( to top, rgb(0 71 133) 25%, rgb(0 102 179), rgb(0 179 240), rgb(0 189 242));
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.wrapper{
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.btn-homepage{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1rem;
    margin: 2rem;
}
.btn-homepage img{
    width: 1.8rem;
    margin: 0 0.5rem;
}
.btn-homepage:hover{
    background: #00BDF2;
}
.pay-msg{
    display: flex;
    margin-top: 3rem;
}
.pay-msg img{
    width: 5rem;
}
.pay-msg p{
    font-size: 1.2rem;  
}
.div-qr-code{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem;
}

#send{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -15vh 0 5vh;
}

#btnSend {
    width:15%;
    background-color: #002D72;
    border: none;
    font-size: 1.3rem;
    color: #FFFFFF;
    padding: 0.3rem 1rem;
    border-radius: 10px;
}

#send:hover {
    background-color: #00BDF2;
}

#iconSend{
    width: 10%;
    margin-left: 2vh;
}