body{
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

.nav-bar-homepage{
    height: 100px;
    width: 100%;
    background-color: rgb(0 71 133);
    background-image: linear-gradient( to top, rgb(0 71 133) 25%, rgb(0 102 179), rgb(0 179 240), rgb(0 189 242));
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.img-logo-nav{
    width: 20rem;
    margin: 2rem; 
}

.nav-filter-homepage a {
    color: #FFFFFF;
    text-decoration: none;
}

.nav-filter-homepage a:hover{
    color: #00BDF2;
}

.nav-filter-homepage ul{
    text-transform: uppercase;
    list-style: none;
}

.nav-filter-homepage li{
    margin: 1rem;
    color: #002D72;
}

.nav-filter-homepage li:hover{
    color: #00BDF2;
}

.list-allproducts{
    margin-bottom: 3rem;
}

.cards-products{
height: 200px;
width: 100%;
}

.footer-homepage{
    margin: 2rem 0 0rem;
    height: 60px;
    width: 100%;
    background-color: #53565A;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.footer-homepage img{
    width: 10rem;
    margin: 1rem;
}

.footer-homepage a{
    text-decoration: none;
    color: #FFFFFF;
    margin: 2rem;
}

footer a:hover{
    color: #00BDF2;
}