* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto Condensed', sans-serif;
}

.nav-bar-homepage{
    height: 10vh;
    width: 100%;
    background-color: rgb(0 71 133);
    background-image: linear-gradient( to top, rgb(0 71 133) 25%, rgb(0 102 179), rgb(0 179 240), rgb(0 189 242));
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.img-logo-nav{
    width: 5rem;
    margin: 0.5rem; 
}

.btn-login{
    text-decoration: none;
    color: #FFFFFF;
    width: 1vw;
    font-size: 0.8rem;
}

.btn-login:hover{
    color: #e9e9e9;
}

.btn-login img{
    width: 1.8rem;
    margin: 0rem 0.5rem;
}

.btn-cart img{
    width: 2rem;
    margin: 0rem 0.5rem;
}

.nav-filter-homepage{
    display: flex;
    flex-direction: column;
}

.nav-filter-homepage ul{
    text-transform: uppercase;
    list-style: none;
}

.nav-filter-homepage li{
    margin: 1rem;
    color: #002D72;
}

.nav-filter-homepage li:hover{
    color: #00BDF2;
}

.list-allproducts{
    margin-bottom: 3rem;
}

.categories{
    margin: 1rem;
    color: #53565A;
}

.cards-products{
    height: 20vh;
    width: 100%;
}

.footer-homepage{
    margin: 2rem 0rem 0rem;
    height: 12vh;
    width: 100%;
    background-color: #53565A;
    display: flex;
    flex-direction: column;
}

.footer-homepage img{
    width: 3rem;
    margin: 0.5rem 1rem 0.5rem;    
}

.footer-homepage a{
    text-decoration: none;
    color: #FFFFFF;
    padding: 1rem;
    font-size: 1rem;
    width: 30%;
}

.footer-homepage a:hover{
    color: #00BDF2;
}

.footer-logo-links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer-homepage p{
    font-size: 1rem;
    color: #FFFFFF;
    margin: 0.5rem;
}

.div-menu{
    display: none;
}

@media (max-width: 700px) {
.div-menu{
    display: block;
}

.div-menu:hover{
    cursor: pointer;
    background-color: #00BDF2;
}

.btn-menu{
    background: transparent;
    border: none;
    width: 50%;
    margin: 0.2rem;
}

.btn-menu:hover{
    cursor: pointer;
}

.nav-filter-homepage{
    display: none;
}

.nav-filter-homepage.active{
    display: flex;
    width: 100%;
}

.nav-filter-homepage{
    background-color: #b9b9b9;
}

}